* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.photo1,
.photo2,
.photo3,
.photo4,
.photo5 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
}

.photo1 {
  background-image: url(./img/foto1.jpg);
  min-height: 100%;
  text-align: center;
  color: white;
}

.photo2 {
  background-image: url(./img/foto2.jpg);
  min-height: 400px;
}
.photo3 {
  background-image: url(./img/foto3.jpg);
  min-height: 400px;
}
.photo4 {
  background-image: url(./img/foto4.jpg);
  min-height: 400px;
}
.photo5 {
  background-image: url(./img/foto2.jpg);
  min-height: 100%;
}
