* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body,
html {
  height: 100%;
}

.box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  text-align: center;
  background-attachment: fixed;
}

.photo1 {
  background-image: url(./img/foto1.jpg);
  min-height: 100%;
}

.photo2 {
  background-image: url(./img/foto2.jpg);
  min-height: 400px;
}
.photo3 {
  background-image: url(./img/foto3.jpg);
  min-height: 400px;
}
.photo4 {
  background-image: url(./img/foto4.jpg);
  min-height: 400px;
}
.photo5 {
  background-image: url(./img/foto2.jpg);
  min-height: 100%;
}

section {
  padding: 25px;
  background-color: #444;
}

.photo2 .text h1 {
  color: red;
}

.text {
  /* position: relative; */
  margin: auto 0;
}

.text .pho1 {
  display: inline-block;
  margin: auto 0;
  color: red;
}
